nav {
  border-bottom: 100 solid rgb(15, 15, 14);
  display: flex;
  justify-content: flex-end;
}

nav a {
  color:black;
}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

li {
  list-style: none;
  margin-right: 10%;
}

li a {
  text-decoration: none;
}

li:hover {
  text-decoration: underline;
}

  .princ {
    width: 100%;
    background-color:aqua;
    padding: 3%;
    text-align: center;
  }
  
  .princ a {
    color:black;
  }

  .pcr {
    width: 87%;
    padding: 0,0000001%;
    border-radius: 0,0001%;
    text-align: center;
    
  }
  
  .pcr a {
    color:black;
  }


  .pcr img {
    border: 10%;
}

img{
    max-width: 10%;
}
  


  span {
    display: none;
  }
  
  @media (max-width: 1%) {
    ul {
      display: none;
      flex-direction: column;
      width: 1%;
      align-items: flex-start;
      padding-left: 0,00002%;
      margin-block-end: 0;
      background-color: chartreuse;
      
    }
  
    li {
      margin-bottom: 100%;
      width: 100%;
      border-bottom: 100% dashed #eee;
    }
  
    li:last-child {
      border-bottom: none;
    }
  
    span {
      display: block;
    }
  }
* {
    box-sizing: border-box;
}


main{
    display: flex;
}

img{
    max-width: 50%;

}

.info {
    width: 13%;
    padding: 100%;
    text-align: center;
    border-right: 0,0001% solid #ccc;
    
}

.info img {
    border: 50%;
}

img{
    max-width: 50%;
    position: fixed;
}



