nav {
    border-bottom: 1% flex #eee;
    display: flex;
  }
  
  nav a {
    color:black;
  }
  
  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: right;
  }
  
  li {
    list-style: none;
    margin-right: 2rem;
  }
  li:hover {
    text-decoration: underline;
  }
  
  .login {
    background-color:chartreuse;
    padding: 1rem;
    border-radius: 5%;
  }
  
  .login a {
    color:black;
  }
  
  span {
    display: none;
  }
    @media(max-width: 300%) {
      ul {
        display: none;
        flex-direction: 500px;
        width: 100px;
      }

      div {
          flex-direction: column;
      }
      section {
          width: 100%;   
          min-width: auto;        
      }
      
    li {
      margin-bottom: 2rem;
      width: 100%;
      border-bottom: 2px dashed #eee;
    }
  
    li:last-child {
      border-bottom: none;
    }
  
    span {
      display: flex;
      flex-direction: column;
    }
  }
* {
    box-sizing: border-box;
}


main{
    display: flex;
}

img{
    max-width: 100%;

}

.info {
    width: 60%;
    padding: 5%;
    text-align: center;
    border-right: 5% flex #ccc;
}

.info img {
    border: 50%;
}

img{
    max-width: 50%;
}

.curriculo {
    width: 50%;
    padding: 5%;
}

.curriculo {
    width: 50%;
    padding: 5%;
}
