nav {
    border-bottom: 1% solid #eee;
    display: flex;
    justify-content: flex-end;
  }
  
  nav a {
    color:black;
  }
  
  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  li {
    list-style: none;
    margin-right: 10%;
  }
  
  li a {
    text-decoration: none;
  }
  
  li:hover {
    text-decoration: underline;
  }
  
  .login {
    background-color:lawngreen;
    padding: 0.5%;
    border-radius: 5%;
  }
  
  .login a {
    color:black;
  }
  
  span {
    display: none;
  }
  
  @media (max-width: 100%) {
    ul {
      display: none;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
      padding-left: 0.5%;
      margin-block-end: 0;
    }
  
    li {
      margin-bottom: 2%;
      width: 100%;
      border-bottom: 1% dashed #eee;
    }
  
    li:last-child {
      border-bottom: none;
    }
  
    span {
      display: block;
    }
  }
* {
    box-sizing: border-box;
}


main{
    display: flex;
}

img{
    max-width: 100%;

}

.info {
    width: 40%;
    padding: 8%;
    text-align: center;
    border-right: 1% solid #ccc;
}

.info img {
    border: 100%;
}

img{
    max-width: 70%;
    position: center;
}

.curriculo {
    width: 60%;
    padding: 10%;
    text-align: fixed;
}

.curriculo {
    width: 50%;
    padding: 10%;
}

footer{
  background-color:chartreuse;
  padding: 0,00001% 0;
  text-align: center;
  color: #000;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}