* {
    box-sizing: border-box;
    text-align: center;
}
h3{
    background-color: white;
      padding: 1% 0;
      text-align: center;


}
nav{
    color: black;
}
#meulink { color:black; }

div {
   display: flex;
   flex-direction:column
}


img{
    max-width: 40%;
    text-align: center;
}
section {

   width: 50%;
   padding: 1rem;
}

.a {
    background-color: white;
}
.a img{
    float:left;
    margin-right: 5%;
    margin-bottom: 0.5px;
}

.b {
    background-color: white    
}
.b img{
   float:left;
   margin-right: 5%;
   margin-bottom: 0.5px;
}

.c {
    background-color: white
}
.c img{
    float:left;
    margin-right: 5%;
    margin-bottom: 0.5%;
}

@media(max-width: 480px) {
   div {
       flex-direction: column ;
   }
   section {
       width: 100%;   
       min-width: auto;       
   }    
}

