* {
    box-sizing: border-box;
}
div {
   display: flex;


}

img{
    max-width: 100%;
}
section {
    min-height: 600%;
   width: 100%;
   padding: 0%;  
}
section {
    min-height: 600%;
   width: 100%;
   padding: 0%; 
}
.a{
   margin-right: 1%;
   margin-bottom: 0.5%;
   max-width: 100%;
} 


.b img{
   float:left;
   margin-right: 1%;
   margin-bottom: 0.5%;
}
.c {
    flex-direction: column;
    float:left;
   margin-right: 1%;
   margin-bottom: 1%;
   text-align: center;
}

@media(max-width: 480px) {
   div {
       flex-direction: column;
   }
   section {
       width: 100%;   
       min-width: auto;        
   }    
}
footer {
    background-color: firebrick;
      padding: 1% 0;
      text-align: center;
      position: fixed;
      color:#fff;
      width: 100%;
      bottom: 0;
      left: 0;
}