* {
    box-sizing: border-box;
}
div {
   display: flex;
   flex-direction: flex;
   text-align: center;

}

img{
    max-width: 100%;
    text-align: center;
    width: 100%; 


}

section {
    min-height: 600%;
   width: 100%;
   padding: 5%; 
   text-align: center;

}


.b img{
   float:left;
   margin-right: 1%;
   margin-bottom: 0.5%;
   text-align: center;
}
.c {
    flex-direction: column;
    float:left;
   margin-right: 1%;
   margin-bottom: 0.5%;
   text-align: center;
}

@media(max-width: 480px) {
   div {
       flex-direction: column;
   }
   section {
       width: 100%;   
       min-width: auto;     

   }    
}
